:root {
  --homepage-split: 50%;
}

.content-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 0;
  overflow-y: hidden;
  /* align-items: center; */

  /* width: calc(100vw - var(--sidebar-width)); */
}

/* Even Split Page */
.left-side {
  /* padding-left: 5vw;
  padding-right: 5vw; */
  flex-shrink: 1;
}

.vertical-bar {
  height: 80vh;
  width: 8px;
  background-color: rgba(var(--accent), 0.8);
  /* border: solid 2px rgba(var(--accent), 0.8); */
}

.right-side {
  text-align: center;
  padding-left: 40px;
  padding-right: 20px;
  overflow-y: hidden;
}

.logo {
  fill: rgb(var(--tertiary));
  display: block;
  margin: 0 auto 5vh auto;
  /* margin: -40px auto 60px auto; */
  width: 300px;
  height: 300px;
  filter: drop-shadow(-1px -1px 0px rgb(var(--accent)))
    drop-shadow(2px -1px 0px rgb(var(--accent)))
    drop-shadow(2px 2px 0px rgb(var(--accent)))
    drop-shadow(-1px 2px 0px rgb(var(--accent)));
}

.pcard-container {
  display: block;
  height: 219px;
  margin: 30px 10px 0px 10px;
  background-color: transparent;
  /* border-bottom: 4px solid rgba(var(--accent), 0.8); */
}

.project-card {
  width: 380px;
  position: relative;
  margin: auto;
  bottom: -5px;
  transition: width 0.25s, height 0.25s, box-shadow 0.15s, background-color 0.2s,
    bottom 0.25s;
  box-shadow: 0 30px 20px -20px rgba(var(--accent), 0.8);
}

.middle-content {
  overflow-x: hidden;
  max-height: 90;
  margin: auto;
}

.project-card:hover {
  margin: auto;
  width: 400px;
  bottom: 8px;
  box-shadow: 0 30px 20px -20px rgba(var(--accent), 0.8),
    0 0 8px 4px rgba(var(--accent), 0.8);
}

.vr-card {
  background-color: rgba(0, 0, 0, 0.47);
}

.vr-card:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

.bottom-line {
  width: 380px;
  border-bottom: 4px solid rgba(var(--accent), 0.8);
  margin: auto;
}

.project-cards-holder {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  overflow-y: auto;
  height: auto;
  max-height: 80vh;
  width: 100%;
}

@media screen and (max-width: 1280px) {
  main {
    overflow-y: auto;
    height: fit-content;
  }


  .content-container {
    padding-top: 5vh;
    height: fit-content;
  }

  .left-side,
  .right-side {
    justify-content: center;
    height: fit-content;
    max-width: 100%;
    border: none;
    margin: auto;
    padding: 0 15px 0 15px;
  }
.middle-content {
  max-height: none;
}
  .bottom-line {
    width: 90%;
    margin-top: 5px;
    margin-bottom: 15px;
    /* height: 0; */
  }
  .vertical-bar {
    display: none;
  }

  .pcard-container {
    height: 219px;
    width: 400px;
    margin-top: 10px;
    /* margin: 20px 0; */
  }

  .project-cards-holder {
    height: auto;
    max-height: none;
  }
}
/* asd */

@media screen and (max-width: 800px) {
  .content-container {
    padding-top: 70px;
  }
}

@media screen and (max-width: 417px) {
  .project-cards-holder {
    margin: 0px auto;
    width: 100%;
  }

  .pcard-container {
    width: auto;
    height: 42vw;
    margin: 0px 5px;
    /* border-radius: 5px; */
  }
  .project-card {
    width: auto;
    height: 40vw;
    bottom: -2px;
    border-radius: auto;
  }

  .project-card:hover {
    width: auto;
    height: 40vw;
    bottom: -2px;
    border-radius: auto;
  }

  .logo {
    width: 70vw;
    height: 70vw;
  }
}
