:root {
  --homepage-split: 50%;
}

/* Even Split Page */


.left-side {
  padding-left: 70px;
  padding-right: 20px;
}

.right-side {
  text-align: center;
  padding-left: 40px;
  padding-right: 20px;
}

.logo {
  fill: var(--tertiary);
  display: block;
  margin: -40px auto 60px auto;
  width: 300px;
  height: 300px;
  filter: 
    drop-shadow(-1px -1px 0px var(--accent)) 
    drop-shadow(2px -1px 0px var(--accent)) 
    drop-shadow(2px 2px 0px var(--accent))
    drop-shadow(-1px 2px 0px var(--accent))
}


.pcard-container {
  height: 219px;
}

#lt-card {
  border-radius: 40px;
  /* box-shadow: inset 0px 0px 10px 10px black; */
}



@media screen and (max-width: 1280px) {
  .right-side {
    border: 2px solid red;
  }
  .left-side,
  .right-side {
    height: fit-content;
    max-width: 100%;
    border: none;
  }
}
