:root {
  --homepage-split: 50%;
}


.content-container{
  display: flex;
  align-items: center;
  /* justify-content: center; */
  /* align-items: center; */
  
  /* width: calc(100vw - var(--sidebar-width)); */
}

/* Even Split Page */
.left-side {
  padding-left: 70px;
  padding-right: 20px;
}

.right-side {
  text-align: center;
  padding-left: 40px;
  padding-right: 20px;
}

.logo {
  fill: rgb(var(--tertiary));
  display: block;
  margin: 0 auto 5vh auto;
  /* margin: -40px auto 60px auto; */
  width: 300px;
  height: 300px;
  filter: drop-shadow(-1px -1px 0px rgb(var(--accent)))
    drop-shadow(2px -1px 0px rgb(var(--accent)))
    drop-shadow(2px 2px 0px rgb(var(--accent)))
    drop-shadow(-1px 2px 0px rgb(var(--accent)));
}

.pcard-container {
  display: block;
  height: 219px;
  margin: 20px 10px;
  background-color: transparent;
  /* border-bottom: 4px solid rgba(var(--accent), 0.8); */

}

.bottom-line {
  width:400px;
  border-bottom: 4px solid rgba(var(--accent), 0.8);
  margin: auto;
}

.project-cards-holder{
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  width: 100%;
}

@media screen and (max-width: 1280px) {
  
  
  .left-side,
  .right-side {
    justify-content: center;
    height: fit-content;
    max-width: 100%;
    margin: 0 auto;
    border: none;
    margin: auto;
  }
  .bottom-line {
    width: 0;
    height: 0;
  }
  
  .pcard-container {
    height: 219px;
    width: 400px;
    margin: 20px 0;
  }
  
}


@media screen and (max-width: 380px) {
  .project-cards-holder {
    margin: 0px auto;
    width: 100%;
  }
  
  .pcard-container {
    width: auto;
    height: 42vw;
    /* border-radius: 5px; */
  }
  .project-card {
    width: auto;
    height: 40vw;
    border-radius: auto ;
  }

  .project-card:hover {
    height: 42vw;
    width: auto;
  }

  .logo{
    width: 100%;
    height: 100%;
  }
}
