.content-container {
  display: block;  
  max-width: 1100px;
  background-color: rgb(var(--primary));
  min-height: 100vh;
}

.middle-content {
  width: fit-content;
  width: 90%;
  display: block;
  margin: 0 auto;
  padding-top: 40px;
}

.pcard-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: auto;
  gap: 20px;
}

.project-card {
  display: block;
}

.project-links{
    margin-left:0;
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    gap: 10px;
    font-size: larger;
    
}

.project-links .p-btn{
    margin-right:0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
    background-color: rgb(var(--secondary));
    border-radius: 5px;
    border: 2px solid rgb(var(--accent));
    flex-grow: 1;
    text-align: center;
    font-weight: 600;
    max-width: 150px;
    height: 40px;
}

.project-links .icon{
    font-size: larger;
    fill: rgb(var(--accent));
}

.carousel-item {
  height: 32rem;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}



@media screen and (max-width: 800px) {
    .pcard-container {
        flex-direction: column;
      }
      .middle-content {
        padding-top: 80px;
        width: 90%;
      }
     
    }
    @media screen and (max-width: 650px) {
        .project-card {
            width: 95%;
          }
         
        }
    