:root {
  /* Blue and red */
  /* --primary: #181e1f;
    --head-color: #45858C;
    --secondary: #b8cfcf;
    --tertiary: #D9C589;
    --hover: #D92B04;
    --text-light: #ebebeb;
    --text-dark: #1b1b1b; */

  /* Blue and grey and orange */
  /* --primary: #3a3a49;
    --secondary: #1c1c62;
    --tertiary: #1d70c3;
    --hover: #a0692a;
    --text-light: #ebebeb;
    --text-dark: #1b1b1b; */

  /* White and blue */
  --primary: 250, 249, 247;
  --secondary: 194, 194, 194;
  --tertiary: 79, 161, 244;
  --hover: 25, 81, 138;
  --accent: 83, 83, 83;
  --text-light: 235, 235, 235;
  --text-dark: 27, 27, 27;


  /* black and blue */
  /* --primary: rgb(4, 45, 117);
  --secondary: #4d7ea1;
  --tertiary: #4fa1f4;
  --hover: #19518a;
  --accent: #afc4f1;
  --text-dark: #ebebeb;
  --text-light: #1b1b1b; */

  --collapse-1: 1280px;
}

body {
  min-height: -webkit-fill-available;
  background-color: rgb(var(--primary));
  /* background-color: white; */

  /* filter: invert(); */
}

html {
  height: -webkit-fill-available;
}

main {
  display: flex;
  flex-wrap: nowrap;
  height: 100vh;
  height: -webkit-fill-available;
  max-height: 100vh;
  overflow-x: auto;
  overflow-y: hidden;
  
}

.content-container{
  
  width: 100%;
  padding: 2.5% 0;
  /* margin-top: 10%; */
  
  /* justify-content: center; */
  /* align-items: center; */
  
  /* width: calc(100vw - var(--sidebar-width)); */
}

.middle-content {
  align-items: center;
  /* width: 80%; */
  margin: 0 auto;
}

.content-container.middle-content {
  padding: 40px 80px 0 80px;
  max-width: 1300px;
  overflow-y: auto;
}

.general-text {
  margin-right:20px;
}
.left-side,
.right-side {
  width: 100%;
  height: 100%;
  margin: 2.5% 0;
  display: flex;
  /* padding: 20px; */
  align-items: center;
}

.left-side {
  border-right: 2px solid rgba(var(--accent), 0.8);
  max-width: 700px;
}

.right-side {
  border-left: 2px solid rgba(var(--accent), 0.8);
  overflow-y: auto;
  flex-wrap: wrap;
}

.pcard-container {
  display: flex;
  align-items: center;
  width: 400px;
}

.project-card {
  width: 380px;
  border-radius: 50px;
  max-width: 400px;
  margin: auto;
  /* padding: 10px 10px 10px 10px; */
  /* vertical-align: middle; */
  transition:  width .5s;
  box-shadow: 0 30px 20px -20px rgba(var(--accent), 0.8);
}

#lr-card {
  background-color: rgba(0, 0, 0, .47);
}

.project-card:hover {
  margin: auto;
  width: 400px;
}



@media screen and (max-width: 1280px) {
  .content-container {
    max-width: 100%;
    justify-content: start;
    flex-direction: column;
    margin: 0 auto;
    overflow-y: auto;
    padding-top: 80px;
  }
  .right-side {
    /* overflow-y: visible; */
    border: 2px solid red;
  }
  .left-side,
  .right-side {
    overflow-y: visible;
    height: fit-content;
    max-width: 100%;
    border: none;
  }
  .project-card {
    /* width: 100%; */
    max-width: 400px;
    /* vertical-align: middle; */
  }
}

a,
a:hover,
a:visited,
a:active,
a:link {
  color: none;
  text-decoration: none;
}

a.active{
  /* text-decoration: underline; */
  background-color: #00000022;
}

.middle-content {
  align-content: center;
}

.scrollarea {
  overflow-y: auto;
}

.fw-semibold {
  font-weight: 600;
}
.lh-tight {
  line-height: 1.25;
}

.icon {
  width: 1em;
  height: 1em;
  fill: rgb(var(--tertiary))
}

@media screen and (max-width: 800px) {
  .content-container.middle-content {
    display: block;
    /* padding: 40px 80px 0 80px;
    max-width: 1300px;
    overflow-y: auto; */
  }


  
}