:root {
  /* Blue and red */
  /* --primary: #181e1f;
    --head-color: #45858C;
    --secondary: #b8cfcf;
    --tertiary: #D9C589;
    --hover: #D92B04;
    --text-light: #ebebeb;
    --text-dark: #1b1b1b; */

  /* Blue and grey and orange */
  /* --primary: #3a3a49;
    --secondary: #1c1c62;
    --tertiary: #1d70c3;
    --hover: #a0692a;
    --text-light: #ebebeb;
    --text-dark: #1b1b1b; */

  /* White and blue */
  --primary: #fafafa;
  --secondary: #c3c3c3;
  --tertiary: #4fa1f4;
  --hover: #19518a;
  --accent: #535353;
  --text-light: #ebebeb;
  --text-dark: #1b1b1b;

  --collapse-1: 1280px;
}

body {
  /* min-height: 100vh; */
  min-height: -webkit-fill-available;
  background-color: var(--primary);
  transition: background-color .4s, filter .4s;
}

html {
  height: -webkit-fill-available;
}

main {
  display: flex;
  flex-wrap: nowrap;
  height: 100vh;
  height: -webkit-fill-available;
  max-height: 100vh;
  overflow-x: auto;
  overflow-y: hidden;
}

.content-container{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  
  /* width: calc(100vw - var(--sidebar-width)); */
}

@media screen and (max-width: 1280px) {
  .content-container {
    padding-top: 70px;
    max-width: 100%;
    justify-content: start;
    flex-direction: column;
    margin: 0 auto;
    overflow-y: auto;
  }
}

a,
a:hover,
a:visited,
a:active,
a:link {
  color: none;
  text-decoration: none;
}

a.active{
  /* text-decoration: underline; */
  background-color: #00000022;
}

.middle-content {
  align-content: center;
}

.scrollarea {
  overflow-y: auto;
}

.fw-semibold {
  font-weight: 600;
}
.lh-tight {
  line-height: 1.25;
}

.icon {
  width: 1em;
  height: 1em;
  fill: var(--tertiary)
}